
              <div class="login-wrapper">
                  <form class="login" [formGroup]="form" autocomplete="off">
                      <section class="title">
                          <h3 class="welcome">Welcome to</h3>
                          Shop
                      </section>
                      <div class="login-group">
                          <clr-input-container>
                              <label class="clr-sr-only">Username</label>
                              <input type="text" name="username" clrInput placeholder="Username" formControlName="username"/>
                          </clr-input-container>
                          <clr-password-container>
                              <label class="clr-sr-only">Password</label>
                              <input type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
                          </clr-password-container>
                          <div class="error active" *ngIf="isWrongData">
                              Invalid user name or password
                          </div>
                          <button type="submit" class="btn btn-primary" (click)="onSubmit()">NEXT</button>
                      </div>
                  </form>
              </div>
