
<div>
  <button class="btn" type="button" (click)="returnToDocList()" style="margin-top: 20px;">Вернуться к списку документов</button>
</div>

  <app-grid-base
  [apiUrl]="apiUrl"
  [fields]="fields"
  [editFormSelects]="editFormSelects"
  [eventCallBacks]="eventCallBacks"
></app-grid-base>
