<form [formGroup]="pagingForm">
  <div class="pagination">
    <div class="pagination-size ng-star-inserted">
      <span>Строк на странице</span>
      <div class="clr-select-wrapper">
        <label>
          <select class="clr-page-size-select" formControlName="size">
            <option *ngFor="let item_size of sizes" [ngValue]="item_size">
              {{ item_size }}
            </option>
          </select>
        </label>
      </div>
    </div>

    <div class="pagination-description ng-star-inserted">
      {{firstItem}} - {{lastItem}} из {{totalItems}}
    </div>

    <div class="pagination-list ng-star-inserted">
      <button type="button" class="pagination-first" (click)="setFirstPage()" [disabled]="firstItem<=1">
        <clr-icon shape="step-forward-2 down" role="none"></clr-icon>
      </button>
      <button type="button" class="pagination-previous" (click)="setPrevPage()" [disabled]="firstItem<=1">
        <clr-icon shape="angle left" role="none"></clr-icon>
      </button>
      <label>
        <input type="text" class="pagination-current clr-input ng-star-inserted" size="{{sizeCurrentPageField}}"
               formControlName="page">
      </label>
      <span aria-label="Total Pages">&nbsp;{{totalPages}}</span>
      <button type="button" class="pagination-next" (click)="setNextPage()" [disabled]="pagingForm.value['page'] >= totalPages">
        <clr-icon shape="angle right" role="none"></clr-icon>
      </button>
      <button type="button" class="pagination-last" (click)="setLastPage()" [disabled]="pagingForm.value['page'] >= totalPages">
        <clr-icon shape="step-forward-2 up" role="none"></clr-icon>
      </button>
    </div>

  </div>
</form>
