<clr-main-container class="main-container">

  <clr-header class="header header-6">
    <div class="branding">
<!--        <img src="icon-a.png" alt="ico" />-->
        <span class="title">Shop</span>
    </div>

    <div class="header-nav">
      <a routerLink="/dirs" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Справочники</span>
      </a>
      <a routerLink="/docs" routerLinkActive="active" class="nav-link">
        <span class="nav-text">Документы</span>
      </a>
    </div>

    <div class="settings" *ngIf="isLoggedIn()">
      <div class="header-nav">
        <span class="nav-text nav-link">({{getUserName()}}) </span>
        <a routerLink="/logout" routerLinkActive="active" class="nav-link">
          <span class="nav-text">Выход</span>
        </a>
      </div>
    </div>
  </clr-header>

  <nav class="subnav" *ngIf="isParentUrl('/dirs')">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dirs/measures" routerLinkActive="active">Единицы измерения</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dirs/products" routerLinkActive="active">Товары</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dirs/shops" routerLinkActive="active">Магазины</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dirs/doc_types" routerLinkActive="active">Типы документов</a>
      </li>
    </ul>
  </nav>

  <nav class="subnav" *ngIf="isParentUrl('/docs')">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/docs/orm" routerLinkActive="active">Документы (ORM)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/docs/raw" routerLinkActive="active">Документы (RAW)</a>
      </li>
    </ul>
  </nav>

    <div class="content-container">
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
    </div>

</clr-main-container>
