<div class="card" *ngIf="[modes.AddRow, modes.EditRow].includes(mode)">

    <form clrForm [formGroup]="editForm">
          <div *ngFor="let field of fields">
              <div *ngIf="editFormSelects && editFormSelects.hasOwnProperty(field['name']); else otherField">

                <clr-select-container>
                  <label>{{field['title']}}</label>
                  <select clrSelect name="options" [formControlName]="field['name']">
                    <option *ngFor="let selectOption of getSelectOptions(field['name'])" [ngValue]="selectOption[editFormSelects[field['name']]['key']]">
                      {{ selectOption[editFormSelects[field['name']]['value']] }}
                    </option>
                  </select>
                </clr-select-container>
              </div>

              <ng-template #otherField>
                <div *ngIf="field.hasOwnProperty('display'); else otherField_2" >
                  <clr-control-container>
                    <label>{{field['title']}}</label>
                    <span class="clr-input">{{field['display'](field, editForm.value, this)}}</span>
                  </clr-control-container>
                </div>

                <ng-template #otherField_2>
                  <div *ngIf="field.hasOwnProperty('type') && field['type'] == 'DATE'; else inputField">
                    <clr-date-container>
                        <label>{{field['title']}}</label>
                        <input type="date" clrDate [formControlName]="field['name']">
                    </clr-date-container>
                  </div>

                  <ng-template #inputField>
                    <clr-input-container>
                      <label>{{field['title']}}</label>
                      <input clrInput [formControlName]="field['name']"/>
                    </clr-input-container>
                  </ng-template>
                </ng-template>

              </ng-template>
          </div>

          <button class="btn btn-primary" type="submit" (click)="submitEditForm()" style="margin-top: 20px;">Сохранить</button>
          <button class="btn" type="button" (click)="setMode(modes.List)" style="margin-top: 20px;">Закрыть</button>
    </form>

</div>

<div *ngIf="mode === modes.List">
  <button  *ngIf="isAddRowEnabled" type="button" class="btn btn-icon" aria-label="add"  (click)="addRow()">
    <clr-icon shape="add"></clr-icon>
  </button>

  <div *ngIf="isSearchEnabled">
    <header class="header header-2">
        <form class="search" [formGroup]="searchForm">
          <label for="search_input"></label>
          <input class="search-input" id="search_input" type="text" placeholder="Поиск по..." formControlName="search">
        </form>
    </header>
  </div>

  <clr-datagrid class="full-screen nowrap" [clrDgLoading]="loadingList">

    <clr-dg-column *ngFor="let field of fields">
      {{field.title}}
    </clr-dg-column>
    <clr-dg-column *ngIf="isDeleteEnabled" class="service-column">Удалить</clr-dg-column>
    <clr-dg-column *ngIf="isEditRowEnabled" class="service-column">Изменить</clr-dg-column>
    <clr-dg-column *ngIf="isShowDetailsEnabled" class="service-column">Детали</clr-dg-column>

    <clr-dg-row *ngFor="let item of dataList">
      <clr-dg-cell class="left" *ngFor="let field of fields">
        {{getTableCellValue(item, field)}}
      </clr-dg-cell>
      <clr-dg-cell *ngIf="isDeleteEnabled" class="left service-column link" (click)="deleteRow(item)"><clr-icon shape="trash" role="none"></clr-icon></clr-dg-cell>
      <clr-dg-cell *ngIf="isEditRowEnabled" class="left service-column link" (click)="editRow(item)"><clr-icon shape="pencil" role="none"></clr-icon></clr-dg-cell>
      <clr-dg-cell *ngIf="isShowDetailsEnabled" class="left service-column link" (click)="showDetailsRow(item)"><clr-icon shape="info-standard" role="none"></clr-icon></clr-dg-cell>
    </clr-dg-row>

      <clr-dg-footer>
          <app-grid-paging (pagingFormChanges)="pagingFormChanges($event)" [totalItems]="totalItems"></app-grid-paging>
      </clr-dg-footer>

  </clr-datagrid>
</div>
